@use "../abstract/_variables" as *;
@use "../base/_typography" as *;
@use "../abstract/_mixins" as *;

.enviedepartage {
  display: flex;
  grid-template-columns:repeat(0.5fr, 0.5fr);
  padding: 50px;
    .contentright {
    grid-template-columns: 2/2;
    padding: 50px; 

    label{
      font-weight: $bold;
      color: $color-lime-green;
    }
    .input{
      input{
        width: 5fr;
        height: 30px;
        border: 1px solid rgba(128, 128, 128, 0.472);
      }
      display: grid;
      grid-template-columns: repeat(3fr, 3fr);
        grid-column: 1/2;
      }

      .surname{
        grid-column: 2/2;
        input{
          width: 10fr;
          
        }
      }
      button{
        @include buttons;
        background-color: $color-lime-green;
        color: $color-white;
        margin-top: 20px;
      }
    }
    .partage{
      font-size: $size-title;
      font-weight: $bold;
      color: $color-lime-green;
    }
  }
  .contentleft {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1/2;
  }

