// Couleurs primaires
$color-lime-green:#B2D234;
$color-lime-opacity:#b3d2349e;
$color-grey: #606060;
$color-white: #FFFFFF;


// Couleurs secondaires
$color-blue:#60A0D8;
$color-blue-opacity:#60a0d88e;